SECRET_KEY=cambia-esto-por-una-clave-larga-y-aleatoria
DATABASE_URL=postgresql://usuario:contrasena@host:puerto/nombre_db
ADMIN_USERNAME=cambia-este-usuario
ADMIN_PASSWORD=cambia-esta-contrasena
FLASK_ENV=development